$md-max: 1298px;
$sm-max: 767px;

$white: #ffffff;
$dark: #202125;
$dark-grey: #5F6368;
$grey: #EFF1F2;
$light-grey: #F8F9FB;
$dark-blue: #185ABC;
$blue: #1967D2;
$light-blue: #E8F0FE;
$light-purple: #D6E3FB;
$light-yellow: #FEF7E0;
$orange: #D56E0C;
$light-pink: #FFDADA;
$light-green: #408F59;